{:paths ["src"]
 :deps
 {org.locationtech.jts/jts-core {:mvn/version "1.18.1"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha         {:mvn/version "1.0.829"}
    com.github.gwenn/sqlite-jna {:mvn/version "0.2.0"}
    juxt/crux-core              {:mvn/version "21.05-1.17.0-beta"}
    juxt/crux-rocksdb           {:mvn/version "21.05-1.17.0-beta"}}}}}
