{:paths ["src"]
 :pablo/config
 {:group-id    com.teknql
  :artifact-id crux-geo
  :github      "teknql/crux-geo"
  :desc        "Geospatial Indexing for Crux"
  :target      :jar}
 :deps
 {org.locationtech.jts/jts-core {:mvn/version "1.18.1"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha         {:mvn/version "1.0.829"}
    com.github.gwenn/sqlite-jna {:mvn/version "0.2.0"}
    pro.juxt.crux/crux-core     {:mvn/version "1.17.1"}
    pro.juxt.crux/crux-rocksdb  {:mvn/version "1.17.1"}}}}}
